body{
    font-family: 'Architects Daughter', cursive;
    background-color:white;
    margin: 0;
    padding: 0;
}

.menu{
    float: right;
}

.text-logo{
    float: left;
    color: white;
}

header{
    background-color: darkblue;
    width: 100%;
    height: 60px;
}

.redes{
    padding-top: 28px;
    max-width: 25px;
    padding-right: 1em;
}

.link{
    color: white;
    padding-top: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 20px;
}

.img{
    max-width: 250px;
    margin-top: 5em;
    padding-right: 20em;
}

b{
    max-width: 250px;
    float: right;
    margin-top: -7em;
    padding-right: 500px;
    color: darkblue;

}

h2{
    float: right;
    margin-top: -7em;
    padding-right: 20em; 
    color: darkblue;
}

footer{
    background-color: darkblue;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    color: white;
}